@model BancoX.Models.ModeloIntermedio

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Esta seguro de querer eliminar este usuario?</h3>
<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ModeloCliente.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModeloCliente.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModeloCliente.apellido1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModeloCliente.apellido1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModeloCliente.apellido2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModeloCliente.apellido2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModeloCliente.correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModeloCliente.correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModeloCliente.direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModeloCliente.direccion)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>