@model BancoX.Models.ModeloIntermedio
@{
    ViewBag.Title = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Index</h2>
<p>
    @Html.ActionLink("Agregar cliente", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Identificación
        </th>
        <th>
            Nombre
        </th>
        <th>
            Primer Apellido
        </th>
        <th>
            Segundo Apellido
        </th>
        <th>
            Números de cuenta
        </th>
        <th>
            Telefonos
        </th>
    </tr>
    @for (int i = 0; i < Model.listaPersonas.Count; i++)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.listaPersonas.ElementAt(i).cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem =>Model.listaPersonas.ElementAt(i).nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem =>Model.listaPersonas.ElementAt(i).apellido1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.listaPersonas.ElementAt(i).apellido2)
            </td>
            <td>
                @for (int j = 0; j < Model.listaCuentas.Count; j++)
                {
                    if (Model.listaPersonas.ElementAt(i).cedula.Equals(Model.listaCuentas.ElementAt(j).cedula))
                    {
                        @Html.DisplayFor(modelItem => Model.listaCuentas.ElementAt(j).numero)
                        @Html.Raw(" ")
                    }
                }
            </td>
            <td>
                @for (int j = 0; j < Model.listaNumeros.Count; j++)
                {
                    if (Model.listaPersonas.ElementAt(i).cedula.Equals(Model.listaNumeros.ElementAt(j).cedula))
                    {
                        @Html.DisplayFor(modelItem =>Model.listaNumeros.ElementAt(j).numero)
                        @Html.Raw(" ")
                    }
                }
            </td>
            <td></td>
            <td>
                @Html.ActionLink("Edit", "Edit", new
           {
               id = Model.listaPersonas.ElementAt(i).cedula
           }) |
                @Html.ActionLink("Details", "Details", new
           {
               id = Model.listaPersonas.ElementAt(i).cedula
           }) |
                @Html.ActionLink("Delete", "Delete", new
           {
               id = Model.listaPersonas.ElementAt(i).cedula
           })
            </td>
        </tr>
    }
</table>
